<p>
<label for="department">Νομός:</label>
<br>
<%= collection_select(nil, :department, @department, :code, :description,
                     {:prompt   => "Επιλέξτε ένα δήμο/κοινότητα"},
                     {:onchange => "#{remote_function(:url  => {:action => "update_municipality"},
                                                      :with => "'department='+value")}"}) %>
<br/>


