<p>
<label for="code">Δημοτικό Διαμέρισμα:</label>
<br>
<%= collection_select(nil, :code, @dhmotiko_diamerisma, :code, :description,
                     {:prompt   => "Επιλέξτε ένα δημοτικό διαμέρισμα"},
                     {:onchange => "#{remote_function(:url  => {:action => "update_dhmos"},
                                                      :with => "'code='+value")}"}) %>
<br/>


